body {
    margin-top: 64px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar {
    background-color: rgb(112,203,244);
    border-color: transparent;
}

.navbar .nav li a {
    color: white;
    font-family: tuitype;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}
.navbar .nav li a:hover {
    color:RGB(115,115,115);
  
}

.navbar .navbar-header a {
    color: white;
    font-family: tuitype;
    padding-left: 8em;
}

.navbar .navbar-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.navbar .navbar-brand a {
    color: white;
    font-family: tuitype;
}

.navbar .bg-svg {
    background-image: url(../img/tui_group_logo.svg);
    background-repeat: no-repeat;
    background-size:contain;
    height: 0;
    padding: 0;
    padding-bottom: 3.5em;
    width: 7em;
}

.navbar-toggle {
    margin-right: 0;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://placehold.it/1900x500') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section-1 {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(194,230,250);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section-2 {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(255,255,255);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section-3 {
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(255,255,255);
    background-color: rgb(9,42,94);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section-4 {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(255,255,255);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .navbar .navbar-header a {
        visibility: hidden;
        padding-left: 0em;
    }

}

@font-face {
  font-family: 'tuitypelight';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/tuitype-light/tuitypelt-webfont.eot");
  src: url("../fonts/tuitype-light/tuitypelt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tuitype-light/tuitypelt-webfont.ttf") format("truetype"), url("../fonts/tuitype-light/tuitypelt-webfont.woff") format("woff"), url("../fonts/tuitype-light/tuitypelt-webfont.svg#tuitypelight") format("svg");
}

@font-face {
  font-family: 'tuitypelight';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/tuitype-light-bold/tuitypeltbd-webfont.eot");
  src: url("../fonts/tuitype-light-bold/tuitypeltbd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tuitype-light-bold/tuitypeltbd-webfont.ttf") format("truetype"), url("../fonts/tuitype-light-bold/tuitypeltbd-webfont.woff") format("woff"), url("../fonts/tuitype-light-bold/tuitypeltbd-webfont.svg#tuitypelightbold") format("svg");
}

@font-face {
  font-family: 'tuitype';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/tuitype/tuitype-webfont.eot");
  src: url("../fonts/tuitype/tuitype-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tuitype/tuitype-webfont.ttf") format("truetype"), url("../fonts/tuitype/tuitype-webfont.woff") format("woff"), url("../fonts/tuitype/tuitype-webfont.svg#tuityperegular") format("svg");
}

@font-face {
  font-family: 'tuitype';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/tuitype-bold/tuitypebd-webfont.eot");
  src: url("../fonts/tuitype-bold/tuitypebd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tuitype-bold/tuitypebd-webfont.ttf") format("truetype"), url("../fonts/tuitype-bold/tuitypebd-webfont.woff") format("woff"), url("../fonts/tuitype-bold/tuitypebd-webfont.svg#tuitypebold") format("svg");
}
